#cart {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
}
#cart > div {
  min-width: 30%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 2em;
  box-shadow: 1em 1em 2.5em var(--blue), -1em -1em 2.5em var(--dark-blue);
}
#cart h2 {
  width: 100%;
  margin-bottom: 2em;
  color: var(--black);
  font-size: 1.75em;
  font-weight: 700;
}
#cart > div > h3 {
  width: 100%;
  margin-bottom: 1.25em;
  text-align: center;
  color: var(--black);
  font-size: 1.5em;
  font-weight: 600;
}
#cart section {
  width: 100%;
}
#cart section > div {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#cart section .d1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#cart section .d1 button {
  padding: 0.25em;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
}
#cart section .d1 button:hover,
#cart section .d1 button:focus {
  opacity: 0.75;
}
#cart section .d1 button:active {
  transform: scale(0.75);
}
#cart section .d1 ion-icon {
  font-size: 2.5em;
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#cart section .d1 h4 {
  color: var(--black);
  font-size: 1.25em;
  font-weight: 600;
}
#cart section .d2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#cart section .d2 p {
  color: var(--black);
  font-size: 1.25em;
  font-weight: 700;
}
#cart section .d2 button {
  padding: 0.25em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
}
#cart section .d2 button:hover,
#cart section .d2 button:focus {
  opacity: 0.75;
}
#cart section .d2 button ion-icon {
  color: var(--black);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cart > div > div:last-child {
  width: 100%;
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#cart div > div h3 {
  margin-right: 0.5em;
  color: var(--black);
  font-size: 1.25em;
  font-weight: 700;
}
#cart div > div p {
  color: var(--black);
  font-size: 1.5em;
  font-weight: 700;
}
