#info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('./info-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#info div {
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8em;
  grid-template-areas: 's1 s2';
}
#info section {
  margin-bottom: 6em;
  border-radius: 2em;
  background: rgba(216, 216, 216, 0.2);
  box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(0.25em);
  -webkit-backdrop-filter: blur(0.25em);
  border-radius: 2em;
}
#info section h3 {
  margin-bottom: 0.5em;
  color: var(--black);
  font-size: 1.75em;
  font-weight: 600;
}
#info .s1,
#info .s2 {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#info .s1 ul,
#info .s2 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
#info .s1 li,
#info .s2 li {
  max-width: 20vw;
  margin: 0.5em 0.75em;
  padding: 0.5em 0.75em;
  color: var(--black);
  font-size: 1.25em;
  font-weight: 500;
}
