#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact div {
  min-width: 30%;
  padding: 4em;
  background-color: var(--light-white);
  border-radius: 2em;
  box-shadow: 1em 1em 2.5em var(--grey), -1em -1em 2.5em var(--white);
}
#contact h2 {
  margin-bottom: 2em;
  color: var(--black);
  font-size: 1.75em;
  font-weight: 700;
}
#contact form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr 0.5fr;
  gap: 2em;
  grid-template-areas:
    'email'
    'password'
    'description'
    'submit';
  color: var(--black);
  font-size: 1em;
  font-weight: 500;
}
#contact form label {
  display: flex;
  flex-direction: column;
}
#contact form label span {
  margin-bottom: 1em;
}
#contact form label input,
#contact form label textarea {
  padding: 0.75em;
  border-radius: 0.5em;
  border: 0.15em solid var(--grey);
  transition: border-color 300ms ease;
}
#contact form label textarea {
  resize: none;
  height: 100%;
}
#contact form label input:hover,
#contact form label input:focus,
#contact form label textarea:hover,
#contact form label textarea:focus {
  border-color: var(--black);
}
#contact form > input {
  width: 40%;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.15em solid var(--grey);
  color: var(--black);
  font-size: 1em;
  font-weight: 500;
  transition: border-color 300ms ease;
}
#contact form > input:hover,
#contact form > input:focus {
  border-color: var(--black);
  cursor: pointer;
}
#contact .email {
  grid-area: email;
}
#contact .password {
  grid-area: password;
}
#contact .description {
  grid-area: description;
}
#contact .submit {
  grid-area: submit;
  justify-self: center;
}
#contact span {
  color: var(--black);
  font-size: 1em;
  font-weight: 400;
}
