@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: #000a0e;
  --grey: #b6b6b6;
  --light-grey: #fefefe;
  --white: #ffffff;
  --blue: #003048;
  --dark-blue: #c4ebff;
  --light-blue: #d8f2ff;
  --red: #d62828;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.01em;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}
